.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  list-style: none;
  width: 100%;
  z-index: 999;
  transition: all 0.7s;
  &:hover {
    background: $deep-pink;
  }
  .topnav-item {
    display: table-cell;
    position: relative;
    padding: 0 10px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    .nav-link {
      text-decoration: none;
      color: $white;
      display: inline-block;
      position: relative;
    }
    .icon {
      font-size: 32px;
      top: 8px;
    }
    .button {
      background: transparent;
      outline: none;
      border: 1px solid $white;
      cursor: pointer;
      color: $white;
      font-size: 28px;
      padding: 3px;
      top: 6.5px;
    }
    .dropdown-content {
      visibility: hidden;
      position: absolute;
      background-color: $white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      margin-top: 56px;
      margin-left: -90%;
      transition: visibility 0.3s ease-out;
      a,
      .droplink {
        color: $deep-pink;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 16px;
        font-weight: 400;
        &:hover {
          background: #fafafa;
        }
      }
    }
  }
  .topnav-item.searchbar {
    top: -2px;
    .search {
      border: none;
      outline: none;
      padding: 1em;
      margin-left: 60px;
      width: 100px;
    }
  }
  .topnav-item.dropdown {
    &:hover {
      .dropdown-content {
        visibility: visible;
      }
    }
  }
}

.toggler {
  .toggler-btn {
    .menu-btn {
      font-size: 32px;
      top: 3.5px;
      color: $white;
      cursor: pointer;
    }
  }
}

.toplogo {
  display: flex;
  align-items: center;
  text-decoration: none;
  .toplogospan {
    font-family: "Mistral Regular";
    font-size: 28px;
    color: $white;
    margin-left: 10px;
  }
}

.toplogo2 {
  display: flex;
  text-decoration: none;
  img {
    margin-top: 10px;
  }
  .toplogospan2 {
    position: absolute;
    font-family: "Mistral Regular";
    font-size: 28px;
    color: $white;
    margin-left: 10px;
    bottom: 18px;
  }
}

.ls-btns {
  padding: 0 !important;
  padding-left: 10px !important;
}

.nav-btn {
  color: $dark-grey;
  background: $white;
  border: 2px solid $white;
  outline: none;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 700;
}
.nav-btn.signup {
  color: $white;
  background: $deep-pink;
}

@media all and (max-width: $desktop + 20px) {
  .topnav {
    background: $deep-pink;
    .menu {
      display: none;
    }
  }
  .toplogo2 {
    display: none;
  }
}

@media all and (min-width: $desktop + 21px) {
  .toggler {
    display: none;
  }
  .toplogo {
    display: none;
  }
  .toplogo2 {
    display: block;
  }
}

.topnav.solid {
  background: $deep-pink;
}

.topnav.white {
  background: $white;
  .toplogo2 {
    .toplogospan2 {
      color: $black;
    }
  }
  .menu {
    .topnav-item {
      .nav-link {
        color: $black;
      }
    }
  }
}
