@import "./styles/variables";
@import "./styles/menu";
@import "./styles/card";

.btn-primary {
  background-color: $primary-color;
  border: $primary-color;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
  color: $white;
  background-color: $primary-color !important;
  border-color: $primary-color;
}

.boxContainer {
  margin-top: 20px;
  position: relative;
  width: 300px;
  height: 42px;
  border: 4px solid $primary-color;
  padding: 0px 10px;
  border-radius: 50px;
}

.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.search {
  border: none;
  height: none;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
}

.search:focus {
  outline: none;
}

.fa {
  font-size: 26;
  color: $primary-color;
}
